/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* get rid of padding & sizing on body so header is at top */
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */
main {
    padding: 2vw;
}

/* navbar */
h1 {
    text-align: center;
}

.navbar {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: auto;
    height: 36px;
    margin: 25px;
}

.logo h1 {
    font-size: 2em;
}

/* navigation list */
.navbar-links ul {
    padding: 0;
    margin: 0;
}

.navbar-links li {
    list-style: none;
    display: block;
    padding: 0.5rem 0;
    text-align: center;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 1ex;
    border-radius: 0.5ex;
    display: inline-block;
}

.navbar-links a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

/* hamburger menu */
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    cursor: pointer;
    padding: 1.25rem;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: #FFFFFF;
    height: 3px;
    width: 2.4rem;
    border-radius: 3px;
    position: relative;
}

.nav-toggle-label span::before {
    content: '';
    position: absolute;
    top: -8px;
}

.nav-toggle-label span::after {
    content: '';
    position: absolute;
    top: 8px;
}

/* media query for mobile */
@media (max-width: 799px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .nav-toggle {
        display: block;
        position: relative;
        width: 2.5rem;
        height: 2.5rem;
        opacity: 0;
    }

    .nav-toggle-label {
        display: flex;
        align-items: center;
        position: relative;
    }

    .navbar-links {
        display: none;
        width: 100%;
        background-color: #000000;
        text-align: center;
    }

    .nav-toggle:checked~.navbar-links {
        display: block;
    }

    .navbar-links ul {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }

    .navbar-links li {
        padding: 0.75rem 0;
    }
}

/* media query for non-mobile */
@media (min-width: 800px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-links {
        display: flex;
        width: auto;
    }

    .navbar-links ul {
        display: flex;
        gap: 2rem;
    }

    .navbar-links li {
        padding: 0;
    }

    .nav-toggle-label {
        display: none;
    }
}