@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&display=swap');

/* BAse body style */
body{
    font-family: "DM Serif Text", serif;
    background-color: #d3c4b3;
    color:#003B4A;
    font-size: 15pt;
}

/* Set the headings */
h1, h2, h3, h4 {
    font-family: "Bebas Neue", sans-serif;
    font: size 40pt;
    text-align: center;
}

/*THE HEADER */
header {
    text-align: center;
}

/*The hero */
#hero, footer {
    text-align: center;
    background-color: beige;
    padding:20px;
    border: 10px solid#000000;
    border-radius:40px;
}

#hero img {
    width: 300px;
    max-width: 100%;
}

/* Biographical Info */
#bio {
    text-align: center;
}

/*Hobbies*/
#hobbies ul li:nth-child(odd) {
    color: #000000 ;
}