@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&display=swap');

/* BAse body style */
body {
    font-family: "DM Serif Text", serif;
    background-color: beige;
    color: #003B4A;
    font-size: 15pt;
}

/* Set the headings */
h1,
h2,
h3,
h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40pt;
    text-align: center;
}

/*THE HEADER */
header {
    text-align: center;
}

/*The hero */
#hero,
footer {
    text-align: center;
    background-color: beige;
    padding: 20px;
    border: 10px solid#000000;
    border-radius: 40px;
}

#hero img {
    width: 300px;
    max-width: 100%;
}

/* Biographical Info */
#bio {
    text-align: center;
}

/*Hobbies*/
#hobbies ul li:nth-child(odd) {
    color: #000000;
}

/*image Gallery */
#gallery {
    border: 10px solid #000000;
    border-radius: 40px;
    background-color: beige;
}

#gallery img {
    max-width: 100%;
}

#gallery hr {
    border: none;
    border-top: 10px solid#000000;
}

#gallery figure {
    text-align: center;
}

/*Article*/
#lit {
    border: 10px solid #000000;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#lit p {
    padding: .2em;
    padding-top: 10px;
}

#lit p::first-letter {
    font-family: "DM Serif Text", serif;
    color: rgb(0, 234, 255);
    font-size: 200%;
    float: left;
    border: 1px solid black;
    padding: 10px;
    line-height: 75%;
    margin-right: 4px;
    color: blue;
    text-shadow:
        2px 2px 0px black,
        -2px -2px 0px black,
        3px 3px 5px black;
}

#video {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: beige;
    border: 10px solid #000000;
    border-radius: 30px;
    padding-top: 56.34;
}



iframe {
    border: 10px solid #000000;
    border-radius: 20px;
    box-shadow:
        0 0 10px #00d0ff,
        0 0 20px #00d0ff,
        0 0 30px #00d0ff,
        0 0 40px #00d0ff;
}


#fieldset, legend {
    border: 10px solid #000000;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset {
    padding:1em;
    padding-top:0;
    display:grid

}

legend {
    border-radius: 10px;
    font-weight: bold;
}

#submit {
    width: 50%;
    justify-self: 1ex;

}

fieldset ul {
    padding: 0;
}


fieldset li {
    list-style-type: none;
    
}